.iphone-13-14-1-2wW {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}
    .auto-group-8bpg-rvY {
      background-color: #223626;
      border-radius: 1.5rem;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 0.8rem 5.1rem 0.8rem 65rem;
      width: 110px;
    
    }
    .profile{
      position: absolute;
   top: 10px;
   left: 30px;
   cursor: pointer;
  

  background-color: #171a03;
      cursor: pointer;
      height: 4.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.5rem;
      
    }
      .menu-n5S {
        background-color: #171a03;
        cursor: pointer;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  width: 4.4rem;


        
      }
    
    .auto-group-fclc-UDA {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 0rem 2rem 2rem 2rem;
      width: 100%;
    }
      .auto-group-k4cu-zBW {
        flex-shrink: 0;
        height: 31.1rem;
        margin: 0rem 2.6rem 2rem 3.4rem;
        position: relative;
        width: calc(100% - 6rem);}

  
        .rectangle-10-Vtx {
          background-color: #0a3b15;
          border-radius: 1.5rem;
          height: 6rem;
          left: 0;
          position: absolute;
          top: 25.1rem;
          width: 61rem;
          cursor: pointer;
        }
        .electronic-waste-R1v {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 800;
          height: 2.1rem;
          left: 7.4rem;
          letter-spacing: 0.33rem;
          line-height: 1.3625;
          position: absolute;
          top: 27.1rem;
          white-space: nowrap;
          width: 18.6rem;
          left: 370px;
     
          top:410px;
        }
        .battery-3oz {
          height: 4.4rem;
          left: 1.3rem;
          object-fit: contain;
          position: absolute;
          top: 25.9rem;
          vertical-align: top;
          width: 4.4rem;
        }
        .output-onlinepngtools-1-Wha {
  left: 350px;
  top: 60;
  position: relative;
 
       
        }
        .wasteorganic{
          left: -430px;
          bottom: -70px;
          position: relative;
          width: 55px;
        }
      .auto-group-6kb6-BHv {
        align-items: center;
        background-color: #0b3c15;
        border-radius: 1.5rem;
        color: #ffffff;
       
    cursor: pointer;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 800;
        height: 6rem;
        justify-content: center;
        letter-spacing: 0.33rem;
        line-height: 1.3625;
        margin: 0rem 2.6rem 2rem 3.4rem;
        white-space: nowrap;
        width: calc(100% - 6rem);
     
      }
      .plastic{
        position: absolute;
   bottom: -210px;
   left: 110px;
   width: 60px;
      }
      .auto-group-5thj-Bx8 {
        align-items: center;
        background-color: #0b3c15;
        border-radius: 1.5rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 800;
        height: 6rem;
        justify-content: center;
        letter-spacing: 0.33rem;
cursor: pointer;
        margin: 0rem 2.6rem 2rem 3.4rem;
        white-space: nowrap;
        width: 980px;
        margin-left: 80px;
      }
      .solidwaste{
        position: absolute;
        bottom: -365px;
        left: 115px;
      }
      .auto-group-xewg-3De {
        align-items: center;
        background-color: #0b3c15;
        border-radius: 1.5rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 800;
        height: 6rem;
        justify-content: center;
        letter-spacing: 0.33rem;
    margin-top: 70px;
   cursor: pointer;
        white-space: nowrap;
        width: 980px;
        margin-left: 80px;
      }
      .zalypa{
        position: absolute;
       bottom:-530px;
       left: 115px;
      }
      .auto-group-mp8g-G6Q {
        background-color: #0b3c15;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.33rem;
        line-height: 1.3625;
        margin: 0rem 2.6rem 6.8rem 3.4rem;
        height: 95px;
        white-space: nowrap;
        width: 980px;
        margin-left: 80px;
        margin-top: 65px;
        cursor: pointer;
      }
      .auto-group-n85r-rKW {
        align-items: center;
        background-color: #233627;
        border-radius: 1.5rem;
        box-sizing: border-box;
        flex-shrink: 0;
        padding: 0.6rem 4.217rem 1.2rem 3.3rem;
        
      }
        .vector-mBa {
          flex-shrink: 0;
          height: 5rem;
        
          object-fit: contain;
          vertical-align: top;
          width: 5rem;
          cursor: pointer;
          background-color:#233627 ;
        }
        .vector-t1J {
          flex-shrink: 0;
          height: 5rem;
          margin-left: 250px;
          position: absolute;
          object-fit: contain;
          vertical-align: top;
          width: 5rem;
          cursor: pointer;
          background-color:#233627 ;
        }
        .fluent-people-community-24-regular-QVS {
          flex-shrink: 0;
          height: 5rem;
          margin-left: 550px;
          position: absolute;
          object-fit: contain;
          vertical-align: top;
          width: 5rem;
          cursor: pointer;
          background-color:#233627 ;
        }
        .fe-activity-7ue {
          flex-shrink: 0;
          height: 5rem;
          margin-top: 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 5rem;
          cursor: pointer;
          background-color:#233627 ;
          margin-left: 850px;
          position: absolute;
        }
    
    

  